@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --blue-light: #78ffd6;
    --blue-regular: #007991;

    --palette-primary: var(--blue-regular); 
    --base-border-radius: 10px;
    --base-padding: 15px;

    --base-height: 50px;
} 

*:focus-visible {
    outline: 1px dashed var(--palette-primary);
}

body {
    font-family: 'Roboto', sans-serif;
}